body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

svg {
    background: darkgray;
}

#title {
    font-size: 2rem;
}   

#tooltip {
    display: block;
}

.bar:hover{
    /* fill: aqua; */
    fill: antiquewhite;
}